*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 68.5%;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --titulo: 3rem;
    --subtitulos: 2rem;
}


header{
    height: 7rem;
    background-color: gold;
    display: flex;
    align-items: center;
}

header h1{
    margin: 0 auto;
    font-size: var(--titulo);
}

.principal{
    display: flex;
    flex-direction: column;
}

.s1, .s2, .s3, .s4, .s5{
    /*border: 1px solid green;*/
    width: 100%;
    min-height: 50rem;
}

.principal h1{
    /*border: 1px solid purple;*/
    display: flex;
    justify-content: center;
    font-size: var(--subtitulos);
    margin-top: 10rem;
}